<div style="background-color: yellow; padding: 0.5em 1em;">
    <dl>
        <dt>Content element: ##CONTENT_ELEMENT## (UID: {object.uid})</dt>
        <dd>
            This template file has been created automatically by Simplyment.<br />
            Location: ##TEMPLATE_PATH##
            <f:debug inline="1" title="Template variables">{_all}</f:debug>
        </dd>
    </dl>
</div>